*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    background-color: rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.top{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    width: 100%;
}
#add-teacher{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 0 5px 15px black;
}
.delete-teacher{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(249, 230, 62);
    box-shadow: 0 5px 15px black;
}
.approve-registration{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(251, 50, 50);
    box-shadow: 0 5px 15px black;
}
form input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
button{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: rgb(35, 247, 35);
}
h2{
    text-align: center;
    font-size: 30px;
    padding: 15px;
}